# Exclude exported CurseForge zip files
*.zip

# Exclude exported Modrinth modpacks
*.mrpack

logs
backups
.fabric
coremods
crash-reports
dashloader-cache
journeymap
local
debug
data
localconfigs
logs
modTranslations
patchouli_books
saves
server-resource-packs
shaderpacks
moddata
screenshots
mod
options.txt
patchouli_data.json
rhino.local.properties
usercache.json
texturepacks
kubejs/exported/*.json
.vscode
